html{
    background-color: black;
    font-family: 'Red Hat Mono', monospace;
    color: #e6e6e6;

}

.burger-icon {
    display: none;
    cursor: pointer;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.line {
    height: 3px;
    width: 25px;
    background-color: #e6e6e6;
    margin: 5px 0;
}

.menu-izquierda{
    display: flex;
}

.menu-derecha{
    display: flex;
}
.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    display: block;
    color: #e6e6e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu a:hover {
    background-color: #171717;
    
}

.div_registro{
    background-color: #171717;
    padding: 50px 100px 50px 100px;
    border-radius: 10px;
}

.contenedor_registro{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.div_interno_form{
    
}

input{
    width: 22rem;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .burger-icon {
        display: block;
    }

    .menu {
        display: none;
        width: 100%;
        text-align: center;
    }

    .menu li {
        display: block;
        width: 100%;
        text-align: center;
    }
}